@font-face {
    font-family: "Lato";
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap') format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url('../FONTS/Lato/Lato-Light.ttf') format("truetype");
}


@font-face {
    font-family: "Darker Grotesque";
    src: url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap") format("truetype");
}

@font-face {
    font-family: "Darker Grotesque";
    src: url('../FONTS/Darker_Grotesque/static/DarkerGrotesque-Light.ttf') format("truetype");
}

